<ion-content>
  <ion-icon (click)="cerrarModal()" class="cerrar" name="close-circle-outline"></ion-icon>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Términos y Condiciones de la Aplicación Móvil de Préstamos de Libros</ion-card-subtitle>
      <ion-card-title>Términos y Condiciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>1. Aceptación de los Términos</h2>
      <p>
        Al descargar, instalar y utilizar la aplicación móvil de préstamos de libros Book Serach,
        usted acepta y se compromete a cumplir con estos Términos y Condiciones. Si no está de acuerdo con estos
        términos, no utilice la Aplicación.
      </p>

      <h2>2. Descripción del Servicio</h2>
      <p>
        La Aplicación permite a los usuarios prestar y tomar prestados libros entre ellos. Los usuarios pueden registrar
        sus libros disponibles para préstamo, solicitar libros y gestionar los préstamos de forma virtual a través de la Aplicación.
      </p>

      <h2>3. Registro de Usuario</h2>
      <p>
        Para utilizar la Aplicación, debe registrarse y crear una cuenta proporcionando información veraz y actualizada.
        Usted es responsable de mantener la confidencialidad de sus credenciales de acceso y de todas las actividades
        que ocurran bajo su cuenta.
      </p>

      <h2>4. Uso de la Aplicación</h2>
      <p>
        Usted se compromete a utilizar la Aplicación únicamente para fines legales y de acuerdo con estos Términos y
        Condiciones. No debe utilizar la Aplicación de manera que cause daño, interrupción o afecte la funcionalidad de
        la misma. Usted no debe intentar obtener acceso no autorizado a la Aplicación o a las cuentas de otros usuarios.
      </p>

      <h2>5. Préstamo de Libros</h2>
      <p>
        Al listar un libro para préstamo, usted garantiza que tiene el derecho de prestar el libro y que el libro está
        en buenas condiciones. Usted se compromete a devolver los libros prestados en el tiempo acordado y en las mismas
        condiciones en que los recibió. Los préstamos de libros están sujetos a la disponibilidad de los mismos y a las
        condiciones establecidas por el prestamista.
      </p>

      <h2>6. Responsabilidad del Usuario</h2>
      <p>
        Usted es responsable de todos los libros que preste y tome prestados a través de la Aplicación. En caso de
        pérdida o daño de un libro prestado, usted es responsable de compensar al prestamista de acuerdo con las
        condiciones acordadas.
      </p>

      <h2>7. Limitación de Responsabilidad</h2>
      <p>
        La Aplicación se proporciona "tal cual" y "según disponibilidad", sin garantías de ningún tipo. No nos hacemos
        responsables por cualquier daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la
        imposibilidad de uso de la Aplicación.
      </p>

      <h2>8. Propiedad Intelectual</h2>
      <p>
        Todos los derechos de propiedad intelectual relacionados con la Aplicación y su contenido son de nuestra
        propiedad o de nuestros licenciantes. Usted no debe reproducir, distribuir, modificar o crear trabajos derivados
        de la Aplicación sin nuestro consentimiento previo por escrito.
      </p>

      <h2>9. Modificaciones de los Términos</h2>
      <p>
        Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones
        serán efectivas desde el momento de su publicación en la Aplicación. Es su responsabilidad revisar regularmente
        los Términos y Condiciones para estar informado de cualquier cambio.
      </p>

      <h2>10. Ley Aplicable</h2>
      <p>
        Estos Términos y Condiciones se rigen por las leyes de Colombia y cualquier disputa se resolverá en los tribunales
        de Colombia.
      </p>

      <h2>11. Contacto</h2>
      <p>
        Si tiene alguna pregunta o inquietud sobre estos Términos y Condiciones, puede contactarnos a través de sinistetraa&#64;gmail.com.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

