.footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textos);
    font-size: 12px;
    height: 128px;
    background: var(--principal);
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.footer::before {
    position: absolute;
    content: "";
    top: -80px;
    left: -10%;
    width: 120%;
    height: 106px;
    background: #fff;
    border-radius: 50%;
}
